fastapi
uvicorn
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
torchvision==0.15.2+cpu
ftfy
regex
tqdm
Pillow
pillow-avif-plugin
requests
git+https://github.com/openai/CLIP.git